body {
	height: auto;
	width: auto;
}
h, p, ul li {
	color: white;
	font-size: .8em;
	font-family: 'Blackoak Std', sans-serif;
}
.Header {
	font-size: 1.2em;
	foreground-color: rgba(255,255,255,.8);
	background-color:black;
	height: 100px;
	width: 500px;
	position:relative;
	text-align:right;
	border-radius: 15px 30px 30px 5px;
}
#llamabox {
	height: 150px;
	width: 275px;
	margin-left: -30px;
	background-image: url(../pix/llamabw.png);
	background-size: cover;
	background-repeat: no-repeat;
	float:left;
	position:fixed;
	display:inline;
}
.empty {
	background-color: #fff;
	float:left;
	height: 75px;
	width: 300px;
	position:relative;
	display:run-in;
}
.doubleempty {
	background-color: #fff;
	height: 150px;
	width: 400px;
	float:left;
	position:relative;
	display:inline;
}
.prof {
	background-color:black;
	height: 150px;
	width: 300px;
	margin-left:-50px;
	float:right;
	text-align:center;
	position:relative;
	display:inline;
}
.pers {
	background-color: #99F;
	float: left;
	height: 100px;	
	width: 300px;
	text-align: center;
	position:relative;
	display:inline;
}
.etc {
	background-color: black;
	height: 50px;	
	width: 300px;
	float:left;
	text-align:center;
	position:relative;
	display:inline;
}
#nav {
	text-decoration: none;
	background-color:black;
	font-size:.8em;
}
a:link {
	text-decoration: none;
	color:white;
}
a:hover {
	color:black;
	opacity:.5;
}
a:visited{
	color:#999;
}
.perspage {
	background-image: url(../pix/personalinterests.png);
	background-size:contain;
	background-repeat:repeat-x;
	width:100%;
	height:5em;
}
.persinformations {
	
}