body {
	height: auto;
	width: auto;
}
h, p {
	color: white;
	text-align: center;
	font-size: .8em;
	font-family: 'Blackoak Std', sans-serif;
}
.Header {
	foreground-color: rgba(255,255,255,.8);
	background-color:black;
	height: 100px;
	width: 500px;
	position:relative;
	text-align: right;
}
#llamabox {
	height: 150px;	
	width: 275px;
	margin-left: -30px;
	background-image: url(../pix/llamabw.png);
	background-size: cover;
	background-repeat: no-repeat;
	float:left;
	position:relative;
	display:inline;
}
.empty {
	background-color: #fff;
	float:left;
	height: 75px;
	width: 300px;
	position:relative;
	display:inline;
}
.doubleempty {
	background-color: #fff;
	height: 150px;
	width: 400px;
	float:left;
	position:relative;
	display:inline;
}
.prof {
	background-color:black;
	height: 150px;
	width: 300px;
	margin-left:-70px;
	float:right;
	text-align:center;
	position:relative;
	display:inline;
}
.pers {
	float: left;
	height: 150px;	
	width: 300px;
	position:relative;
	display:inline;
}
.etc {
	height: 150px;	
	width: 300px;
	float:right;
	color: #9F9;
	position:relative;
	display:inline;
}
#nav {
	text-decoration: none;
}
a:link {
	text-decoration: none;
	color:white;
	background-color:black;
}